/* reset ================================================================================= */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;background:transparent;text-align:left;font-size:100%;vertical-align:baseline;}
html {overflow-y: scroll;}
body{font-size:62.5%;font-family:arial,verdana,helvetica,georgia,'Lucida Grande','Lucida Sans Unicode','Trebuchet MS','Arial Black','Courier New','Times New Roman','Times',sans-serif;line-height:1.35;height:100%;text-align:center;}
h1,h2,h3,h4,h5,h6 {line-height: normal; font-weight: normal;}
a,button{cursor:pointer;text-decoration:none;}
img{display:block;-ms-interpolation-mode:bicubic;}
ins{text-decoration:none;}
address{font-style:normal;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:none;}
fieldset{position:relative;}
legend{position:relative;margin-left:-0.63em;}
label{cursor:default;}
select,input,texarea,button,textarea{font:120%/normal arial, sans-serif;resize:none;}
textarea{overflow:auto;}
:focus{outline:0;}
table{border-collapse:collapse;border-spacing:0;}
th{font-weight:400;}
center{text-align:center;}
b{font-weight:700;}
i{font-style:italic;}
big{font-size:large;}
small{font-size:small;}
blink{text-decoration:blink;}
u{text-decoration:underline;}
.clear:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
.clear {display: inline-block;}
html[xmlns] .clear {display: block;}
* html .clear {height: 1%;}
.hidden{position:absolute;left:0;top:-500px;width:1px;height:1px;overflow:hidden;line-height:1px;}
ol,ul,menu{list-style:none;}
del,s,strike{text-decoration:line-through;}
object,embed,applet{display:block;}
/* ======================================================================================= */
 /* FONTFACE*/
 @font-face {
    font-family: 'AkzidenzGroteskBQCondensedRg';
    src: url('/static/fonts/akzidenzgrotesk-cond-webfont.eot');
    src: url('/static/fonts/akzidenzgrotesk-cond-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/akzidenzgrotesk-cond-webfont.woff') format('woff'),
         url('/static/fonts/akzidenzgrotesk-cond-webfont.ttf') format('truetype'),
         url('/static/fonts/akzidenzgrotesk-cond-webfont.svg#AkzidenzGroteskBQCondensedRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AkzidenzGroteskBQLightCondeRg';
    src: url('/static/fonts/akzidenzgrotesk-lightcond-webfont.eot');
    src: url('/static/fonts/akzidenzgrotesk-lightcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/akzidenzgrotesk-lightcond-webfont.woff') format('woff'),
         url('/static/fonts/akzidenzgrotesk-lightcond-webfont.ttf') format('truetype'),
         url('/static/fonts/akzidenzgrotesk-lightcond-webfont.svg#AkzidenzGroteskBQLightCondeRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AkzidenzGroteskBQCondensedMd';
    src: url('/static/fonts/akzidenzgrotesk-mediumcond-webfont.eot');
    src: url('/static/fonts/akzidenzgrotesk-mediumcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/akzidenzgrotesk-mediumcond-webfont.woff') format('woff'),
         url('/static/fonts/akzidenzgrotesk-mediumcond-webfont.ttf') format('truetype'),
         url('/static/fonts/akzidenzgrotesk-mediumcond-webfont.svg#AkzidenzGroteskBQCondensedMd') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AkzidenzGroteskBQCondensedBd';
    src: url('/static/fonts/akzidenzgrotesk-boldcond-webfont.eot');
    src: url('/static/fonts/akzidenzgrotesk-boldcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/akzidenzgrotesk-boldcond-webfont.woff') format('woff'),
         url('/static/fonts/akzidenzgrotesk-boldcond-webfont.ttf') format('truetype'),
         url('/static/fonts/akzidenzgrotesk-boldcond-webfont.svg#AkzidenzGroteskBQCondensedBd') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTSansRegular';
    src: url('/static/fonts/ptsans-regular-webfont.eot');
    src: url('/static/fonts/ptsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/ptsans-regular-webfont.woff') format('woff'),
         url('/static/fonts/ptsans-regular-webfont.ttf') format('truetype'),
         url('/static/fonts/ptsans-regular-webfont.svg#PTSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTSansItalic';
    src: url('/static/fonts/ptsans-italic-webfont.eot');
    src: url('/static/fonts/ptsans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/ptsans-italic-webfont.woff') format('woff'),
         url('/static/fonts/ptsans-italic-webfont.ttf') format('truetype'),
         url('/static/fonts/ptsans-italic-webfont.svg#PTSansItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTSansBold';
    src: url('/static/fonts/ptsans-bold-webfont.eot');
    src: url('/static/fonts/ptsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/ptsans-bold-webfont.woff') format('woff'),
         url('/static/fonts/ptsans-bold-webfont.ttf') format('truetype'),
         url('/static/fonts/ptsans-bold-webfont.svg#PTSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTSansBoldItalic';
    src: url('/static/fonts/ptsans-bolditalic-webfont.eot');
    src: url('/static/fonts/ptsans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/ptsans-bolditalic-webfont.woff') format('woff'),
         url('/static/fonts/ptsans-bolditalic-webfont.ttf') format('truetype'),
         url('/static/fonts/ptsans-bolditalic-webfont.svg#PTSansBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* base ================================================================================= */
div#project_switcher_panel {float:right;}

body {background: url("/static/images/headerBgFade.png") no-repeat scroll center top transparent;}

a {
	color: #1e99c8;
	text-decoration: none;
}
a:hover {
	color: #777;
}

.flr {
	float: right;
}
.fll {
	float: left;
}
.clrb {
	clear: both;
}
.inactive{
	text-decoration: line-through;
}
#container {

}
#mainwrap { 
	padding: 0 0 50px 0;
}
#main {
    float: left;
    width: 670px;
}
.home #main {
	float: none;
	width: auto;
	margin: 0;
	padding: 0 79px 0 0;
}
.home #maincontent {
	float: right;
	width: 670px;
}
#footer {
	height:82px;
	background:#434345;
	
}
#footer .wrapper{
	background: url("/static/images/logo_footer.png") no-repeat scroll right 22px transparent;
	height:100%;
}
	#footer p {
		color: #C7C7C8;
		font-family: 'PTSansRegular',arial;
		font-size: 13px;
		line-height: 1;
		float:right;
		width:266px;
		padding-top:22px;
	}
#masthead {
	height: 160px;
	background-repeat: no-repeat;
	background-position: 0 0;
	height: 160px;
	text-indent: -9999px;
	margin: 0 0 30px 0;
}
.home #masthead {
	background-image: url(/static/images/bg_masthead_home.png);
}	

#sidebar {
	float: right;
	width: 230px;
	/*margin-top: 35px;*/
	font-size: 1.2em;
}
	#sidebar img.ai-logo, img.ai-logo-small {
		display: block;
		padding-top: 21px;
		clear: both;
	}
	#sidebar img.ai-logo-small {
		margin-bottom: 8px;
	}
	#sidebar a#logout, #sidebar span#logout  {
		display: inline-block;
		text-transform: uppercase;
		color: #888;
		float: right;
		margin-top: 10px;
		font-size: 0.9em;
	}
	#sidebar span#logout span{
		color: #666666;
	}
	#sidebar #ai-contacts {
		padding-top: 28px;
	}
	#sidebar #ai-info {
		padding-top: 45px;
	}
	#sidebar #client-contacts {
		padding-top: 52px;
	}
	#sidebar #project-links {
		padding-top: 36px;
	}
	#sidebar h3,.lead h2, .contentblock p.pm-subcat {
	
		
		
		 border-bottom: 1px solid #D9D9DA;
    color: #434345;
    font-family: 'AkzidenzGroteskBQCondensedRg',arial;
    font-size: 22px;
    padding-bottom: 5px;
	margin-bottom: 10px;
		
	}
	.contentblock p.pm-subcat {line-height:25px;padding-bottom:4px;margin-bottom: 5px;}
		#sidebar h3 span { text-transform: none; }
		#sidebar #project-links a { color: #1e99c8; }
	#sidebar .contact-block {
		color: #777;
		margin-bottom: 17px;
	}
		#sidebar .contact-name.ai {
			background: url(/static/images/logo_ai-small.gif) no-repeat 0 0;
			padding: 0 0 0 2.0em;
			text-indent: -9000px;
		}
		#sidebar .contact-title {
			font-style: italic;
		}
		#sidebar .contact-block div {
			line-height: 1.3;
		}
		#sidebar .contact-block .contact-address {
			border-top: 1px solid #e6ecee;
			padding-top: 6px;
			margin-top: 7px;
		}
			#sidebar .contact-block .contact-address .contact-link a {
				color: #1e99c8;
				background: transparent url(/static/images/icon/arrows.png) no-repeat right 3px;
				_background-position: right 4px;
				float: left;
				padding: 0 11px 0 0;
			}
	#sidebar a { color: #777; }
	#sidebar a:hover {
		text-decoration: underline;
	}
	#sidebar ul li { 
		margin: 0 0 6px 0; 
		line-height: 14px;
	}
	#sidebar #project-links ul li.Basecamp {
		background: url(/static/images/icon/basecamp.png) no-repeat 0 0;
		height: 22px;
		padding: 5px 0 0 32px;
	}
	#sidebar #project-links ul li.jira {
		background: url(/static/images/icon/jira.png) no-repeat 0 0;
		height: 22px;
		padding: 5px 0 0 32px;
	}
	#sidebar #project-links ul li.project_home {
		background: url(/static/images/icon/home.png) no-repeat 0 0;
		height: 22px;
		padding: 5px 0 0 32px;
	}
		#sidebar ul li a { 
			background: transparent url(/static/images/icon/arrows.png) no-repeat right 3px;
			padding: 0 11px 0 0;
		}
		
#sidebar #photos {
	margin-top: 107px;
}
	#sidebar #photos img {
		padding: 2px;
		border: 1px solid #d2d2d2;
		margin-bottom: 24px;
	}
#content-1 {
	margin-bottom: 27px;
	padding-top: 11px;
}

.wrapper {
	width: 1000px;
	margin: 0 auto;
	position: relative;
}
#mainwrap .wrapper { min-height:200px;
}
#header {
	height: 102px; background: url("/static/images/headerBgFade.png") no-repeat scroll center top #fbfbfb;
}
	#header .wrapper {
		height: 96px;
		background: url(/static/images/bg_dash_gray.png) repeat-x left bottom;
	}
	#header #logo {
		float: left;
		padding-top:40px;
	}
	#header #logo a{
		background: url("/static/images/logo.png") no-repeat scroll center top transparent;
		display:block;
		width:79px;
		height:66px;	
	}
	#header #logo img{
		display:none;
	}
	#header  h1 {
		font-size: 70px;
		
		color: #434345;
		font-family: 'AkzidenzGroteskBQCondensedMd',arial;
		margin-bottom: 0;
		padding: 5px 0 0 120px;
		line-height:60px;
	}
	#header #lead {
		float: left;
		background: url(/static/images/bg_header_lead.png) no-repeat left top;
		padding: 0 0 0 50px;
		height: 95px;
		position: relative;
	}	
		#header #lead em {
			color: #898989;
			font-size: 1.6em;
			margin-bottom: 0;
			padding-left: 120px;
			font-style:normal;
		}	
	#header #nav_utility {
		position: absolute;
		background: #96d8f1;
		padding: 10px 18px;
		right: 0;
	}
		#header #nav_utility ul { float: left; }
		#header #nav_utility li {
			float: left;
			line-height: 1;
			color: #c6c6c6;
			font-size: 1.3em;
			border-right: 1px solid #c6c6c6;
			padding: 0 9px 0 0;
			margin: 0 8px 0 0;
		}
		#header #nav_utility li:last-child,
		#header #nav_utility li.last {
			border: 0;
			margin: 0;
			padding: 0;
		}
		#header #nav_utility span { 
			color: #666;
			margin: 0 1px 0 0; 
		}
		#header #nav_utility a { 	
			color: #333;
			text-transform: uppercase;
			font-style: italic;
			font-family: georgia, arial, sans-serif;
		}
		#header #nav_utility a:hover { color: #000; }

#projectlogo {
	float: left;
	width: 200px;
	height: 85px;
	margin-right: 20px;
	overflow: hidden;
	position: relative;
}
#projectlogo img {
	position: absolute;
	bottom: 1.1em;
	display: block;
	margin: auto;
}
#projecttitle {
	border-bottom: 1px solid #eaeaea;
	margin-bottom: 9px;
}
	#projecttitle.single {
		margin-top: 40px;
		border-bottom: none;
	}
#projectdesc {
	color: #4b4b4b;
	font-size: 1.1em;
	margin-top: 5px;
	padding-bottom: 11px;
}
#maincontent h1 {
	text-transform: uppercase;
	line-height: 40px;
	padding: 5px 0 25px 20px;
	font-size: 1.6em;
	color: #333;
	letter-spacing: 0.1em;
	font-weight: bold;
}
#project_nav {
	position: absolute;
	right: 0;
	top: 10px;
	z-index: 1000;
	width:230px;
}
#otherprojects {
	position: relative;
}	
	#otherprojects .header {
		color: #101010;
		font-size: 23px;
		
		font-family: 'AkzidenzGroteskBQCondensedRg',arial;
	}
	#otherprojects img {
		padding-bottom: 8px;
	}
	
	#otherprojects #widgetwrap select, .catblock .filter .dropdown selec{
		background: #ebebec;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ebebec');
		background: -webkit-gradient(linear, top, bottom, from(#fff), to(#ebebec));
		background: -moz-linear-gradient(top, #fff,  #ebebec);
		border: 1px solid #dcdcdc;
		color: #0b0e07;
		font-size: 1.3em;
		padding: 4px 3px;
		width: 100%
	}
	
	.catblock .filter .dropdown select {

					float: left;
					width: 160px;
					margin-right:20px;
					margin-top:10px;

				}
	

	#otherprojects #projects-top {
		background: url(/static/images/select-top.png) repeat-x left top;
		width: 250px;
		height: 1px;
		overflow: hidden;
	}
	#otherprojects ul#projects {
		width: 249px;
		background: url(/static/images/bg/bg_select_large.png) bottom left no-repeat;
		background-position: 0 100%;
		font-size: 1.2em;
		padding: 3px 0 3px 2px;
	}
	#otherprojects ul#projects li a {
		color: #666;
		display: block;
		height: 14px	;
	}
		#otherprojects ul#projects li a:hover { color: #333; }
	#otherprojects ul#projects li h4 { padding: 2px 0 0 0; }
	#otherprojects li.default {
		background: transparent url(/static/images/bg/bg_select_arrow.png) no-repeat right top;
		min-height: 21px;
		height: auto;
		width: 247px;
		_width: 245px;
		_height: 21px;
		_position: relative;
		_right: 2px;
	}
	#otherprojects li.default h4 a {
		padding: 2px 0 2px 7px;
		width: 243px;
		display: block;
	}
	#otherprojects ul.options li {
		padding: 3px 0 3px 7px;
	}
		
@media projection, screen { 
    .tabs-hide {
        display: none;
    }
}

@media print {
    .tabs-nav {
        display: none;
    }
}
#maincontent .subnav { 
	border-bottom: 1px solid #dadada;
	margin: 0 0 21px 0;
	height: 46px;
	position: relative;
	padding-top: 21px;
	/*_top: 54px;
	_position: absolute;
	_width: 100%;*/
}
	#maincontent .subnav .cat-buttons {
		position: absolute;
		padding: 16px 0 0 0;
		margin: 0 0 21px 0;
	}
		#maincontent .subnav .cat-buttons li {
			font-size: 2em;
			float: left;
			margin-right: 25px;
		}
			#maincontent .subnav .cat-buttons li a {
				font-family: 'AkzidenzGroteskBQCondensedRg',arial;
				font-size:16px;
				color:#969696;
				letter-spacing:.4333px;
				line-height:33.15px;
			}
			#maincontent .subnav .cat-buttons li a.current{
				color:#00A9DF;
			}
			#maincontent .subnav .cat-buttons li a:hover {
				color:#101010;
			}
			
			#maincontent .subnav .cat-buttons li.tabs-selected a#design_tab { background: url(/static/images/nav/carrot.png) no-repeat -10px -16px; }
			#maincontent .subnav .cat-buttons li.tabs-selected a#strategy_tab { background: url(/static/images/nav/carrot.png) no-repeat -5px -16px; }
			#maincontent .subnav .cat-buttons li.tabs-selected a#approved_tab { background: url(/static/images/nav/carrot.png) no-repeat -3px -16px; }
			
				#maincontent .cat-buttons li a div {
					padding-top: 3px;
				}
			/*#maincontent .cat-buttons .tabs-selected a, .cat-buttons .tabs-selected a:hover {
				background-position: 0 -40px;
			}*/		

.catblock {
	padding: 0 0 10px 0;
}
	.catblock .filter {
		background:url("/static/images/bg_masthead.png") no-repeat scroll center bottom transparent;
		height: 23px;
		padding: 6px 9px;
		_padding: 4px 9px;
		*padding: 5px 9px;
		margin: 0 0 12px 0;
		height:36px;
	}
		.catblock .filter h3 {
			font-size: 15px;
			float: left;
			padding: 3px 10px 0 0;
			height:31px;
			line-height:31px;
			font-family: 'PTSansBold',arial;

			
		}
			.catblock .filter .dropdown {
				_padding: 2px 0 0 0;
				*padding: 1px 0 0 0;
			}
				
		.catblock .filter .views { padding: 2px 0 0 0; float:left;}
			.catblock .filter .views a {
				float: left;
				height: 31px;
				line-height: 31px;
				margin: 0 5px 0 0;
				padding-left: 36px;
				width: 68px;
			}
			.catblock .filter .views #list_choice_input { background: url("/static/images/icon-list.png") no-repeat scroll 0 0 transparent}
			.catblock .filter .views #grid_choice_input { background: url("/static/images/icon-grid.png") no-repeat scroll 0 0 transparent }
		.catblock .filter h3.approved { 
			background: url(/static/images/icon/check_gray.png) no-repeat 0 0;
			height: 17px;
			float: right;
			padding: 1px 0 0 20px;
		}
		.catblock .filter input {
			float: right;
		}
.contentblock {
	width: 670px;
	padding-bottom: 46px;
}
	.contentblock .lead {
		border-bottom: 1px solid #d8d7d7;
		padding-bottom: 10px;
		_padding-bottom: 2px;
		margin-bottom: 16px;
		height: 19px;
	}
		.lead h2 {float:left;
			border:none;
		}
		.lead .date {
			float: right;
			color: #898989;
			font-size: 16px;
			margin-bottom: 0;
			padding-left: 20px;
			font-family: 'PTSansRegular',arial;
			line-height:30px;
		}
	.contentblock p {
		color: #797979;
		font-size: 1.2em;
		line-height: 1.6em;
		margin-bottom: 1em;
	}
	.contentblock p.pm-notes {
		background: url(/static/images/icon_notes.gif) top left no-repeat;
		padding-left: 20px;
		font-size: 1.2em;
		font-style: italic;
		color: #777;
		line-height: 1.6em;
		margin-bottom: 15px;
	}
	
	.contentblock .grid {
	
	}
		.contentblock .grid .thumbs { margin: 0 0 11px 0; clear:both;}
			.contentblock .grid .thumbs .thumb { 
				float: left !important; 
				margin: 0 20px 0 0;
				width: 210px;
			}
			.contentblock .grid .thumbs .thumb.last { margin: 0; }
			.contentblock .grid .thumbs .thumb.first { clear: left; }
				.contentblock .grid .thumbs h2 { 
					font-size: 1.3em;
					color: #252525;
					border-bottom: 1px solid #dadada;
					padding: 0 0 2px 0;
					margin: 0 0 9px 0;
				}
				.contentblock .grid .thumbs .thumb img { 
					margin: 0 0 4px 0;
					border: 1px solid #D9D9D9; 
				}
				.contentblock .grid .thumbs .thumb p { 
					color: #252525;
					font-size: 1.1em;
					padding: 2px 0 0 0;
				}
				.contentblock .grid .thumbs .thumb p.approved {
					background: url(/static/images/icon/check.png) no-repeat 0 0;
					height: 17px;
					padding: 2px 0 0 20px;
				}
	.contentblock ul.links {
		font-size: 1.3em;
		margin-bottom: 24px;
	}
		.contentblock ul.links li{
		color: #575757;
		font-family: 'PTSansRegular';
		font-size: 15px;
		margin: 0 0 2px;
		padding: 5px 0;}
		.contentblock ul.links li a {
			color: #00A9DF;
					
		}

			.contentblock ul.links ul.slides {
				padding-left: 20px;
				

			}
			.contentblock ul.links ul.slides li { 
				background: url("/static/images/icon_jpg.gif") no-repeat scroll left 6px transparent;
				_height: 4px;
				*height: 16px;
			}
				.contentblock ul.links ul.slides li a {
					color: #1e99c8;
					padding-left: 20px;
					font-family: 'PTSansRegular',arial;
				}
			.contentblock ul.links li span {
				font-size: 10px;
				font-style: italic;
				color: #999;
				margin: 0 5px;
			}
		.contentblock ul.links li.pdf {
			background: url(/static/images/icon_pdf.gif) top left no-repeat;
			padding-left: 20px;
			position: absolute;
		}
		.contentblock ul.links li.doc {
			background: url(/static/images/icon_doc.gif) top left no-repeat;
			padding-left: 20px;
		}
		.contentblock ul.links li.fla {
			background: url(/static/images/icon_fla.gif) top left no-repeat;
			padding-left: 20px;
		}
		.contentblock ul.links li.generic {
			background: url(/static/images/icon_generic.gif) top left no-repeat;
			padding-left: 20px;
		}
		.contentblock ul.links li.gif {
			background: url(/static/images/icon_gif.gif) top left no-repeat;
			padding-left: 20px;
		}
		.contentblock ul.links li.html {
			background: url(/static/images/icon_html.gif) top left no-repeat;
			padding-left: 20px;
		}
		.contentblock ul.links li.jpg {

		}
		.contentblock ul.links li.js {
			background: url(/static/images/icon_js.gif) top left no-repeat;
			padding-left: 20px;
		}
		.contentblock ul.links li.log {
			background: url(/static/images/icon_log.gif) top left no-repeat;
			padding-left: 20px;
		}
		.contentblock ul.links li.mov {
			background: url(/static/images/icon_mov.gif) top left no-repeat;
			padding-left: 20px;
		}
		.contentblock ul.links li.notes {
			background: url(/static/images/icon_notes.gif) top left no-repeat;
			padding-left: 20px;
		}
		.contentblock ul.links li.php {
			background: url(/static/images/icon_php.gif) top left no-repeat;
			padding-left: 20px;
		}
		.contentblock ul.links li.ppt {
			background: url(/static/images/icon_ppt.gif) top left no-repeat;
			padding-left: 20px;
		}
		.contentblock ul.links li.psd {
			background: url(/static/images/icon_psd.gif) top left no-repeat;
			padding-left: 20px;
		}
		.contentblock ul.links li.sql {
			background: url(/static/images/icon_sql.gif) top left no-repeat;
			padding-left: 20px;
		}
		.contentblock ul.links li.toggle {
			background: url(/static/images/icon_toggle.gif) top left no-repeat;
			padding-left: 20px;
		}
		.contentblock ul.links li.txt {
			background: url(/static/images/icon_txt.gif) top left no-repeat;
			padding-left: 20px;
		}
		.contentblock ul.links li.xls {
			background: url(/static/images/icon_xls.gif) top left no-repeat;
			padding-left: 20px;
		}
		.contentblock ul.links li.xml {
			background: url(/static/images/icon_xml.gif) top left no-repeat;
			padding-left: 20px;
		}
		.contentblock ul.links li.zip {
			background: url(/static/images/icon_zip.gif) top left no-repeat;
			padding-left: 20px;
		}
    #list_section{
		display:none;
	}
#maincontent .content .client .head {
 	border-bottom: 1px solid #dadada;
 	padding: 7px 0 4px 0;
}
.projects .head {
 	border-bottom: 1px solid #dadada;
 	height: 16px;
 	padding: 0 0 10px 0;
 	_padding: 0 0 3px 0;
}
	.client .projects { }


#maincontent .content h2 {
   color: #252525;
   font-size: 2em;
   float: left;
   line-height: 1;
   text-transform: uppercase;
}
	
	 #maincontent .content h2 a { 
		color: #252525; 
		display: block;
		/*background: url(/static/images/icon_toggle.gif) no-repeat right -68px;*/
	}

	#maincontent .content h2 a:hover {
		color: #1e99c8;
	}
	#maincontent .content h2.active a { background-position: right 11px; }
	#maincontent .client .head p.pm {
		float: right;
		color: #6c6565;
		font-style: italic;
		font-size: 1.2em;
		margin: 1px 0 0 0;
	}
#maincontent .content ul { 
	padding: 1.0em 0 2.0em 0; 
	list-style: none;
   }
	 #maincontent .content ul li {
		font-size: 1.3em;
		overflow: hidden;
		margin: 0 0 5px 0;
	}
	#maincontent .content ul li a {
		background: transparent url(/static/images/icon/arrows.png) no-repeat left 3px;
		float: left;
		padding: 0 0 0 14px;
	}
		#maincontent .content ul li a:hover { color: #1e99c8; }
#maincontent div.projects {
	border-bottom: 1px solid #dadada;
	
}
	#maincontent div.projects ul {
		padding: 15px 0 10px 0;
	}
/*	
#overlay {
	background: #f00;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
}*/

#content-l {
	position: relative;
}

#edit_slide {
	width: 867px;
	position: absolute;
	z-index: 100;
	top: 300px;
	left: 13px;
	background: url(/static/images/admin/box_body.png) bottom no-repeat;
}
	#edit_slide .header {
		background: url(/static/images/admin/box_header.png) no-repeat;
		height: 12px;
		margin-top: -12px;
	}
		#edit_slide .header a.close {
			width: 24px;
			height: 25px;
			background: url(/static/images/admin/box_close.png) no-repeat;
			position: absolute;
			right: -3px;
			top: -16px;
			text-indent: -9000px;
		}
		#edit_slide .header a.close:hover {
			background-position: 0 -25px;
		}
	#edit_slide .wrap {
		width: 823px;
		margin: 15px auto 20px;
	}
		#edit_slide h2 {
			color: #494949;
			font-size: 1.8em;
			border-bottom: 1px solid #ccc;
			padding-bottom: 0.4em;
		}
		#edit_slide input {
			border-width: 1px;
			border-style: solid;
			border-color: #7c7c7c #c3c3c3 #ddd #c3c3c3;
			background-image: url(/static/images/admin/bg_input.png);
			background-position: 0 0;
			color: #494949;
			font-size: 1.1em;
			padding: 3px;
		}
		#edit_slide #group_properties {
			background: #eee;
			padding: 14px;
		}
		#edit_slide #slide_properties {
			padding: 14px;
		}
			#slide_properties h2 {
			}
				#slide_properties h2 span.note {
					font-size: 0.65em;
					padding-left: 0.2em;
					color: #aaa;
				}
			#slide_properties table {
				width: 100%;
			}
				#slide_properties col.activity {
					width: 42px;
				}
				#slide_properties col.title {
					width: 294px;
				}
				#slide_properties col.image {
					width: 94px;
				}
				#slide_properties col.background {
					width: 125px;
				}
				#slide_properties col.alignment {
					width: 114px;
				}
				#slide_properties col.approval {
					width: 90px;
				}
				#slide_properties col.remove {
				
				}
				#slide_properties th {
					border-bottom: 1px solid #dbdbdb;
					padding: 0.6em 0;
				}
					#slide_properties th h3 {
						color: #494949;
						font-weight: bold;
						font-size: 1.1em;
					}
				#slide_properties th.activity h3, #slide_properties th.remove h3 {
					visibility: hidden;
				}
				#slide_properties td {
					padding: 8px 0;
					border-bottom: 1px solid #dbdbdb;
				}
				#slide_properties td.activity {
				
				}
					#slide_properties td.activity label {
						background-image: url(/static/images/admin/icons.png);
						background-position: 0 -50px;
						display: block;
						width: 16px;
						height: 15px;
						position: relative;
						top: 3px;
						margin: auto;
					}
					#slide_properties td.activity label.selected {
						background-position: 0 0px;
					}
						#slide_properties td.activity label span {
							display: none;
						}
						#slide_properties td.activity label input {
							display: none;
						}
				#slide_properties td.title {
				
				}
					#slide_properties td.title input {
						width: 75%;
					}
				#slide_properties td.image {
				
				}
				#slide_properties td.background {
				
				}
				#slide_properties td.alignment {
				
				}
				#slide_properties td.approval {
				
				}
				#slide_properties td.remove {
				
				}
					#slide_properties td.remove a {
						display: block;
						text-indent: -9000px;
						background-image: url(/static/images/admin/icons.png);
						background-position: 0 -100px;
						width: 11px;
						height: 11px;
						margin: auto;
					}
		#edit_slide .controls {
			overflow: auto;
			padding: 15px;
		}
			#edit_slide .controls a.add {
				float: left;
				display: block;
				background: url(/static/images/admin/button_add.png) no-repeat;
				text-indent: -9000px;
				width: 139px;
				height: 26px;
			}
			#edit_slide .controls a.add:hover {
				background-position: 0 -26px;
			}
			#edit_slide .controls a.cancel {
				float: right;
				font-size: 1.4em;
				color: #9e9e9e;
				margin-left: 15px;
				text-decoration: underline;
				line-height: 24px;
			}
			#edit_slide .controls a.cancel:hover {
				color: #494949;
			}
			#edit_slide .controls a.done {
				float: right;
				display: block;
				width: 82px;
				height: 26px;
				margin-left: 15px;
				background: url(/static/images/admin/button_done.png) no-repeat;
				text-indent: -9000px;
			}
			#edit_slide .controls a.done:hover {
				background-position: 0 -26px;
			}

.big {
    color: #434345;
    font-family: 'AkzidenzGroteskBQCondensedRg',arial;
    font-size: 22px;
	padding-top:40px;
}
#slide{padding:50px 0;}
/*STICKY FOOTER*/
html, body, #nonFooter { height: 100%; }
body > #nonFooter { height: auto; min-height: 100%; }
#footer {
 clear: both;
 position: relative;
 z-index: 10;
 height: 82px;
 margin-top: -82px;
}
#nonFooter { padding-bottom: 82px; }

#mainwrap > .wrapper > #slide > a > img {margin:0 auto;}
/* ======================================================================================= */