/***********************************************************
mobile.css
**********************************************************/
body {
	font: 1.1em georgia, verdana, arial;
	background: #bde7f6;
	margin: 0;
}
img {
	border: none;
	display: block;
}
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
img.logo {
	margin: 0.5em 0;
	padding: 2% 0 0 0;
}
img.jack {
	margin: 0 0 2% 0;
}
#container {
	background: #bde7f6;
	width: 98%
}
#wrapper {
	background: #fff;
	margin:1% 0;
	padding: 1%;
}
p span span {
	margin: 0 0 0 0.5em;
}

/*  header
**********************************************************/
	#header {
		margin: 0 0 0.5em 0;
		padding: 0 0 0.5em 0;
		border-bottom: 5px solid #398ebc;
	}
	#header span, #sectionContent span {
		font: inheret georgia, verdana, arial;
		/*display:block;*/
		padding: 0 0 0.5em 0;
		color: #999;
	}
	#sectionContent p.noBg span {
		color: #ddd;
		font-style: normal;
	}
	
	#sectionContent .vcard span {display: inline;}
	#sectionContent p.subLink span {
		background: 0;
		display: inline;
		padding-left: 0;
	}
	#header td.address {
		font: 0.9em georgia, verdana, arial;
	}
	#header p span {
		background: none;
		padding: 0;
	}
		#header span a, #sectionContent span a, #footer ul li a {
			color: #614F31;
			text-decoration: none;
		}
#project_nav img, #project_logo img {margin: 1% 0;}

#nav {margin: 1% 0;}
/*  sectionContent
**********************************************************/
.hidden {display: none;}
#sectionContent h1 {
	font: bold 1.4em Georgia, "Times New Roman", Times, serif;
	color: #333; 
	margin: 0.5em 0;
	padding: 0;
}
#sectionContent h2, #sectionContent h5, #sectionContent dt, .column h2 {
	font: bold 1.0em georgia, verdana, arial;
	color: #186D9B; 
	margin: 0.5em 0;
	padding: 0;
}
#sectionContent .leed h2 {
	border-bottom: 1px solid #ddd;
	padding: 0 0 0.5em 0;
}
* h2 span {
	font: italic 0.8em arial;
	color: #999;
}
	#sectionContent dt a{
		color: #398EBC; 
	}
		#sectionContent ul li {
			color: #f60;
			font-size: 0.9em;
			margin: 0 0 0.4em 0;
		}
		#sectionContent ul li img {display: none;}
	p {
		font: 0.9em georgia, verdana, arial;
	}
	#sectionContent p, #sectionContent dd {
		font: italic 0.9em georgia, verdana, arial;
		color: #666;
		margin: 0;
		/*background-color: #F7F5F5; 
		padding: 0.5em 0;*/
		padding: 0.5em 0 0.5em 0.5em;
		margin: 0;
		width: 98%;
	}
	#sectionContent p.noBg {
		background: 0;
	}
.contact-list {
	/*margin: 0.5em 0 0 0;
	border-top: 2px solid #ddd;*/
}
.contact-block {
	margin: 0 0 1.0em 0;
}
	.contact-block .contact-name, .contact-block .contact-title, contact-block .contact-email, .contact-block .contact-address, .contact-block .contact-phone {
		font: 0.8em Georgia, "Times New Roman", Times, serif;
	}
	.contact-block .contact-name {font-weight: bold;}
.contact-list h3 {margin-bottom: 0.5em;}
.contact-list h3 img {
	padding-bottom: 0.3em;
	border-bottom: 1px solid #eee;
}
.client {
	border-bottom: 1px solid #eee;
}
.client ul li {
	margin: 0 0 0.4em 0;
}
.date {
	font-size: 0.9em;
}
.contact-link {
	padding: 0.5em 0 0 0;
}
	.contact-link a {
		color: #333;
	}
	.contact-email a {
		font-size: 0.8em;
		color: #333;
	}
	.contact-name {
		color: #999;
	}
#slide {
	width: 320px;
	margin: 0 auto;
}
/*  navigation
**********************************************************/
ul li span {
	font: 0.9em georgia, verdana, arial;
	display: block;
}
	.navigation p, #sectionContent .navigation p { 
		margin: 0.5em 0;
		padding: 0.5% 0 0 0;
		display: block;
		border-bottom: 1px solid #DDD7D2;
		background: #fff;
	}
		.navigation p span, #sectionContent .navigation p span {
			border-top: 1px solid #DDD7D2;
			display: block;
			padding: 1.5px 0 1.5px 0;
		}
			.navigation p span a, #sectionContent .navigation p span a {
				color: #494949;
				text-decoration:none;
				display: block;
			}
			
/*  login
**********************************************************/
#login-fields {
	/*width: 15em;*/
	height: 10em;
	padding: 0.5em;
	background-color: #F9F9F9;
	border: 1px solid #DDD7D2;
}
.fieldline {
	padding: 0.5em 0 0 0;
}
label {
	color: #186DA7;
	font-size: .9em;
}
label.set {
	width: 5.5em;
	float: left;
}
label.remember {
	color: #333;
	font-size: 0.8em;
}


/*  footer
**********************************************************/
#footer {
	/*background: url(bg.footer.gif) repeat-x left top;*/
	border-top: 5px solid #398ebc;
	padding: 0.5em 0 1.0em 0;
	margin: 1% 0 0 0;
}


/* section specific */
.welcomeLogout {
	text-align: right;
}
#sectionContent .welcomeLogout span a {color: #888;}
#projectdesc {
	font-size: 0.9em;
	font-weight: bold;
	color: #4B4B4B;
}

#sidebar {
	font-size: 0.9em;
	margin: 0.5em 0 0 0;
	border-top: 2px solid #ddd;
}
.welcomeLogout#sidebar {
	margin: 0;
	border: none;
}
#sectionContent p a, #sectionContent li a, .column li a {
	color: #FF6600;
}
#sectionContent p.noBg a {color:#186D9B;}
h1.clients {
	font-size: 1.3em;
	padding: 0 0 0.5em 0;
	border-bottom: 2px solid #eee;
}
#projectlogo {margin: 0 0 0.5em 0;}
#sectionContent #comp_info h1 {font-size: 0.9em;}
#comp_info a {color: #f60;}
#comp_nav {
	font-size: 0.9em;
	color: #999;
	width: 320px;
	margin: 0 auto;
	text-align: center;
}

.service h2 a {color: #398EBC;}

h3.entry-title {font-size: 0.8em;}