{% extends check %}

{% block section_css %}
		<link href="{{ MEDIA_URL }}/static/css/slides.css" rel="stylesheet" type="text/css" />
		<style type="text/css">
			
			body {
				background: {% if slide.background %} transparent  {% endif %} url('{{MEDIA_URL}}/static/{{slide.background}}') repeat-x left top;
				background-color: {{ slide.background_color }};
			}
			#mainwrap img { margin: 0 auto;  {% if slide.alignment %}float: {{slide.alignment }};{% endif %}}
			#slide {
				
				{% if slide.alignment %}background-position: top {{slide.alignment }};{% else %}background-position: top center;{% endif %}
			}
		</style>
{% endblock %}

{% block section_js %}
		<script type="text/javascript" src="{{ MEDIA_URL }}/static/js/hoverintent.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}/static/js/slide.js"></script>
{% endblock %}
{% block mobile_content %} 

{% block page_title %} 
	{% with comp.project as project %}
	{{ project.client.name }} : {{ project.name }}
	{% endwith %}
{% endblock %}

{% block bar_content %} 
	<div id="nav">
		<div class="wrap">
			<div id="comp_info">
				<a href="{{returnlink}}">{% with comp.project as project %}{{ project.client.name }}{% endwith %}</a>
				<h1>{{ slide.name }}</h1>
			</div>
			<div id="comp_nav">
				<a href="{{prev}}?m=nav" id="prev">Previous Comp</a>
				<a href="{{next}}?m=nav" id="next">Next Comp</a>
			</div>
		</div>
	</div>
{% endblock %}

{% block main_content %}
	{% if slide %}
		<div id="slide">
			<a href="{{next}}"><img src="{{MEDIA_URL}}/static/{{slide.image}}" /></a>
		</div>
	{% else %}
		<div class="big">There are no slides for this comp yet.</div>
	{% endif %}
{% endblock %}
{% endblock %}