			<div class="paneslist">	
			{% for rollup in project.category_rollups %}
				{% if rollup.sections %}	
					<div class="catblock">
					{% for section in rollup.sections %}
						<div class="contentblock section">						
						<div id="{{ forloop.counter }}_list">
						<p class="pm-subcat">{{ section.name }}:</p>
						{% if section.description %}<p>{{ section.description }}</p>{% endif %}											
						{% if section.links.all %}
							<ul class="links">
								{% for link in section.links.all %}
								<li {% if link.file_link %} class='{{link.link|slice:"-3:"}}' {% endif %}>
									<a href="{{ link.link }}" title="{{ link.name }}">
										{{ link.name }}
									</a>
								</li>
								{% endfor %}
							</ul>
						{% endif %}
						{% if section.comps.all %}
							<ul class="links">
								{% for comp in section.comps.all %}
									{% include 'includes/comps.html' %}
								{% endfor %}
							</ul>
						{% endif %}
						{% if section.active_subsections %}
							{% for subsection in section.active_subsections.all %}
								<p class="pm-subcat">{{ subsection.name }}: </p>
								{% if subsection.description %}<p>{{ subsection.description }}</p>{% endif %}
									{% if subsection.links.all %}
										<ul class="links">
										{% for link in subsection.links.all %}
											<li {% if link.file_link %} 
													class='{{link.link|slice:"-3:"}}'
												{% endif %}>
												<a href="{{ link.link }}" title="{{ link.name }}">
													{{ link.name }}
												</a> 
											</li>
										{% endfor %}
										</ul>
									{% endif %}
								{% if subsection.comps.all %}
									<ul class="links">
										{% for comp in subsection.comps.all %}
											{% include 'includes/comps.html' %}
										{% endfor %}
									</ul>
								{% endif %}
							{% endfor %}
						{% endif %}
						</div>
						</div>
					{% endfor %}
					</div>					
				{% else %}
					<div class="catblock">
					<div class="contentblock">
						<p class="nodata">Nothing has been posted to {{ rollup.category.name }} yet.</p>
					</div>
					</div>
				{% endif %}
		{% endfor %}
		</div> 
		
			