{% extends check %}
{% block page_title %} 
	{{ project.client.name }} : {{ project.name }}
{% endblock %}

{% block cufon %}
	Cufon.replace('#project_nav .header', { fontFamily: 'Berthold Akzidenz Grotesk BE CN' });
	Cufon.replace('#sidebar h3', { fontFamily: 'Berthold Akzidenz Grotesk BE CN' });
	Cufon.replace('#maincontent .cat-buttons li', { fontFamily: 'Berthold Akzidenz Grotesk BE CN' });
{% endblock %}

{% block section_js %}
<script type="text/javascript">
$(document).ready(function () {
if ("{{choice}}"==="grid"){
	show('#grid_section', '#list_section', "{{choice}}");}
else {show('#list_section', '#grid_section', "{{choice}}");}
});

</script>
		<script type="text/javascript" src="/static/js/dropdown.js"></script>
		<script type="text/javascript" src="/static/js/staging.js"></script>
		<script type="text/javascript" src="/static/js/jquery.tabs.pack.js"></script>
		<script type="text/javascript" src="/static/js/project.js"></script>
	{% if user.is_staff %}
		<script type="text/javascript" src="/static/js/admin_overlay.js"></script>
	{% endif %}
{% endblock %}

{% block title %}{{ client.name }} {% endblock %}
{% block description %}{{ project.name }} {% endblock %}

{% block body_class %}{% endblock %}

{% block header_extra %}
	{% include "includes/header.html" %}
{% endblock %}

{% block main_content %}
	{% block mobile_content %}
	<div id="main">		
		<div id="maincontent">
			{% if project.categories %}
				{% if not mobify %}<div class="subnav"><ul class="cat-buttons clear">{% else %}<p class="noBg">{% endif %}
						{% if mobify %}<span><a href="/home/">&laquo; Home</a></span>{%endif%}
						{% for category in project.categories.all %}
							{% if category.active %}
								{% if not mobify %}<li>{% else %}<span>| {% endif %}<a id="{{ category.name|slugify }}_tab"
									class="tab"
							   		href="#{{ category.name|slugify }}_category_{{choice}}"
							   		title="{{ category.name }}">{{ category.name }}
								</a>
							{% if not mobify %}</li>{% else %}</span>{% endif %}
								{% else %}
									{% if user.is_staff %}
										{% if not mobify %}<li>{% else %}<span>{% endif %}<a id="{{ category.name|slugify }}_tab"
								   			class="tab inactive"
								   			href="#{{ category.name|slugify }}_category"
								   			title="{{ category.name }}">{{ category.name }}
										</a>
									{% if not mobify %}</li>{% else %}</span>{% endif %}
								{% endif %}
							{% endif %}
						{% endfor %}
						{% if not mobify %}</ul></div>{% else %}</p>{% endif %}
					<!-- remove double div ? -->
					<div  class="catblock">
						<div class="filter">
								<h3>Jump to</h3>
								<div class="dropdown">
									<select onChange="gotosection(value);">									
								{% for rollup in project.category_rollups %}
									{% for section in rollup.sections %}
									<option value="#{{ section.name|slugify }}_section_{{choice}}">{{section.name}}</option>		
									{% endfor %}
								{% endfor %}										
									</select>
								</div>
								<form name = "viewform" method='post' action="/client/{{client.path}}/{{project.path}}/"> 
								<h3>View by</h3>
								<div class="views">
								    <input type = "image" name = "choice" value = "list" src = "/static/images/btn/list.png" >
									<input type = "image" name = "choice" value = "grid" src = "/static/images/btn/grid.png" >
								</div>								
								</form>
								<h3 class="approved">Approved Design</h3>								
						</div>
					</div>									
					<div id ="list_section">{{choice}}
				{% for rollup in project.category_rollups %}
						{% if rollup.sections %}							
						<div id="{{ rollup.category.name|slugify }}_category_list" class="catblock">
							{% for section in rollup.sections %}
							<div class="contentblock section">
							<div id="{{ section.name|slugify }}_section_list">
								{% if section.links.all %}
									<ul class="links">
										{% for link in section.links.all %}
										<li {% if link.file_link %} class='{{link.link|slice:"-3:"}}' {% endif %}>
											<a href="{{ link.link }}" title="{{ link.name }}">
												{{ link.name }}
											</a>
										</li>
										{% endfor %}
									</ul>
								{% endif %}
								{% if section.comps.all %}
									<ul class="links">
										{% for comp in section.comps.all %}
											{% include 'includes/comps.html' %}
										{% endfor %}
									</ul>
								{% endif %}
								{% if section.subsections %}
									{% for subsection in section.subsections.all %}
										<p class="pm-subcat">{{ subsection.name }}: subcat</p>
										{% if subsection.description %}<p>{{ subsection.description }}</p>{% endif %}
											{% if subsection.links.all %}
												<ul class="links">
												{% for link in subsection.links.all %}
												<li {% if link.file_link %} 
														class='{{link.link|slice:"-3:"}}'
													{% endif %}>
													<a href="{{ link.link }}" title="{{ link.name }}">
														{{ link.name }}
													</a> 
												</li>
												{% endfor %}
											</ul>
											{% endif %}
										{% if subsection.comps.all %}
											<ul class="links">
												{% for comp in subsection.comps.all %}
													{% include 'includes/comps.html' %}
												{% endfor %}
											</ul>
										{% endif %}
									{% endfor %}
								{% endif %}
							</div>
							</div>
							{% endfor %}
						</div>	
						{% else %}
							<div id="{{ rollup.category.name|slugify }}_category_list" class="catblock">
							<div class="contentblock">
								<p class="nodata">Nothing has been posted to {{ rollup.category.name }} yet.</p>
							</div>
						</div>
					{% endif %}
				{% endfor %}
				</div>
						<div id ="grid_section">{{choice}}	
						{% for rollup in project.category_rollups %}
						{% if rollup.sections %}
						<div id="{{ rollup.category.name|slugify }}_category_grid" class="catblock">				
							{% for section in rollup.sections %}
							<div class="contentblock section">		
							<div id="{{ section.name|slugify }}_section_grid">
								<div class="lead clear">											
									<h2>{{ section.name }}</h2>
									{% if section.date %}
									<div class="date">
										{{ section.date|date:"m/d/Y" }}
									</div>
									{% endif %}
								</div>
								{% if section.description %}
								<p class="pm-notes">{{ section.description }}</p>
								{% endif %}
								added section comps here								
								<div class="grid clear">								
								{% if section.comps.all %}
									{% for comp in section.comps.all %}									
									{% include 'includes/comps_grid.html' %}									
										{% endfor %}
								{% endif %} 								
								</div>								
								<div class="grid clear">									
									{% if section.subsections %}
										{% for subsection in section.subsections.all %}
											{% if subsection.comps.all %}
											<!-- TODO: style this better-->
											<h2>{{subsection.name}}</h2>
										{% if subsection.description %}	
										<p class="pm-notes">{{subsection.description}}</p>
										{% endif %}										
										<div class="clear">
												{% for comp in subsection.comps.all %}
													{% include 'includes/comps_grid.html' %}
												{% endfor %}
									remember active/inactive staff/not staff logic here
										</div>
										{% endif %}
										{% endfor %}
									{% endif %}
								</div>								
							</div>
							</div>
							{% endfor %}
						</div>
						{% else %}
						
						<div id="{{ rollup.category.name|slugify }}_category_grid" class="catblock">
							<div class="contentblock">
								<p class="nodata">Nothing has been posted to {{ rollup.category.name }} yet.</p>
							</div>
						</div>
						{% endif %}
						{% endfor %}
						</div>
			{% else %}					
				<p>No categories have been associated with this project yet.</p>
		</div>	
			{% endif %}
		</div>		
</div>
</div>		

		<!-- Stager 2.0 section 
		<div class="admin" id="edit_slide">
			<div class="header">
				<a href="javascript:void(0);" class="close">Close</a>
			</div>
			<div class="wrap">
				<div id="group_properties">
					<h2>Group Properties</h2>
				</div>
				<div id="slide_properties">
					<h2>Slides <span class="note">Drag to Reorder</span></h2>
					<table>
						<colgroup>
							<col class="activity" />
							<col class="title" />
							<col class="image" />
							<col class="background" />
							<col class="alignment" />
							<col class="approval" />
							<col class="remove" />
						</colgroup>
						<thead>
							<tr>
								<th class="activity"><h3>Activity</h3></th>
								<th><h3>Title</h3></th>
								<th><h3>Image</h3></th>
								<th><h3>Background</h3></th>
								<th><h3>Alignment</h3></th>
								<th><h3>Approval</h3></th>
								<th class="remove"><h3>Remove</h3></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="activity">
									<label><input type="checkbox" /><span>Active</span></label>
								</td>
								<td class="title">
									<input type="text" />
								</td>
								<td class="image"></td>
								<td class="background"></td>
								<td class="alignment"></td>
								<td class="approval"></td>
								<td class="remove">
									<a href="javascript:void(0);">Delete Slide</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="controls">
					<a class="add" href="javascript:void(0);">Add New Slide</a>
					<a class="cancel" href="javascript:void(0);">Cancel</a>
					<a class="done" href="javascript:void(0);">Done</a>
				</div>
			</div>
		</div>
		-->

{% include 'includes/sidebar.html' %}

	{% endblock %}
{% endblock %}