{% extends check %}
{% block page_title %} 
	{{ project.client.name }} : {{ project.name }}
{% endblock %}

{% block cufon %}
	Cufon.replace('#project_nav .header', { fontFamily: 'Berthold Akzidenz Grotesk BE CN' });
	Cufon.replace('#sidebar h3', { fontFamily: 'Berthold Akzidenz Grotesk BE CN' });
	Cufon.replace('#maincontent .cat-buttons li', { fontFamily: 'Berthold Akzidenz Grotesk BE CN' });
{% endblock %}

{% block section_js %}
<script type="text/javascript" src="/static/js/dropdown.js"></script>
<script type="text/javascript" src="/static/js/jquery.tools.min.js"></script>
<script type="text/javascript" src="/static/js/project.js"></script>	
{% if user.is_staff %}
	<script type="text/javascript" src="/static/js/admin_overlay.js"></script>
{% endif %}
	
<script type="text/javascript">
	
// function to initialize page
$(function() {
	// The first category tab is shown on page load. Fill the dropdown accordingly.
	fillDropdown('{{ project.categories.all.0.name|slugify }}', '{{choice}}');
	// show the list or grid section divs based on the user's viewing preference
	// the last selected view was placed in the database and is remembered as the preferred view
	if ("{{choice}}"==="grid"){
		show('#grid_section', '#list_section');}
	else {show('#list_section', '#grid_section');}
	// global vars
	VAR_CHOICE = '{{choice}}';
	VAR_CURRENT_SECTION = '#1_{{choice}}';
	
	// categories using jquery tools - tabs
	$("ul.tabs").tabs("div.panes{{choice}} > div");
	
	generateClickEvents();
	$('#list_choice_input').click(function(){
		show_ajax('list', '{{client}}','{{project.path}}', '#list_section', '#grid_section');
	});
	$('#grid_choice_input').click(function(){
		show_ajax('grid', '{{client}}','{{project.path}}', '#grid_section', '#list_section');
	});
	$('#select_section').change(function(){
		selectSection($(this).val());
	});
});

// place sections in the dropdown given the selected category
function fillDropdown(categoryName, choice){
	VAR_CURRENT_CATEGORY = categoryName;
	{% for rollup in project.category_rollups %}	
		if('{{ rollup.category.name|slugify }}'== categoryName){
			removeAllOptions(document.dropdownform.sections);
			{% for section in rollup.sections %}
				{% if forloop.first %}
					VAR_CURRENT_SECTION = '#1_'+choice;
				{% endif %}
				addOption(document.dropdownform.sections, '{{section.name}}', '#{{forloop.counter}}_'+choice);
			{% endfor %}
		}
	{% endfor %}				
}

// generate an on-click event for each category tab
function generateClickEvents(){	
	{% for category in project.categories.all %}
		$('#{{category.name|slugify}}_tab').click(function(){
			fillDropdown('{{ category.name|slugify}}', VAR_CHOICE);
			return false;			
	});
	{% endfor %}
}

</script>		
{% endblock %}

{% block title %}{{ client.name }} {% endblock %}
{% block description %}{{ project.name }} {% endblock %}

{% block body_class %}{% endblock %}

{% block header_extra %}
	{% include "includes/header.html" %}
{% endblock %}

{% block main_content %}
{% block mobile_content %}
<div id="main">		
	<div id="maincontent">
		{% if project.categories.all %}
		
			{% if not mobify %}<div class="subnav"><ul class="tabs cat-buttons clear">{% else %}<p class="noBg">{% endif %}
			{% if mobify %}<span><a href="/home/">&laquo; Home</a></span>{%endif%}
			<!-- show all active categories. If user is staff show inactive categories also with css class 'inactive' -->
			{% for category in project.categories.all %}	
				{% if category.active or user.is_staff %}								
					{% if not mobify %}<li>{% else %}<span>| {% endif %}<a id="{{category.name|slugify}}_tab" 
					class="tab 
				{% endif %}
				{% if not category.active and user.is_staff %}	inactive {% endif %}
				{% if category.active or user.is_staff %}
					"
					href="#{{ category.name|slugify }}"
					
					title="{{ category.name }}">{{ category.name }}								
					</a>
					{% if not mobify %}</li>{% else %}</span>{% endif %}
				{% endif %}
			{% endfor %}
			{% if not mobify %}</ul></div>{% else %}</p>{% endif %}
			<div  class="catblock">
				<div class="filter">
						<h3>Jump to</h3>
						<div class="dropdown">
						<form  name="dropdownform" >
							<select name="sections" id='select_section' >											
							</select>
							</form>
						</div>
						<h3>View by</h3>
						<div class="views">
							<input type = "image" name = "choice" value = "list" title="List Layout" id="list_choice_input" src = "/static/images/btn/list.png" >
							<input type = "image" name = "choice" value = "grid" title="Grid Layout" id="grid_choice_input" src = "/static/images/btn/grid.png" >
						</div>	
						<h3 class="approved">Approved Design</h3>								
				</div>
			</div>									
			<div id ="list_section">
			
				{% include 'list_view.html' %}
			</div>
				<div id ="grid_section">
				
					{% include 'grid_view.html' %}
				</div> 
				
		{% else %}		
		<p>No categories have been associated with this project yet.</p>
		{% endif %}
	</div>	
</div>		

		

		<!-- Stager 2.0 section 
		<div class="admin" id="edit_slide">
			<div class="header">
				<a href="javascript:void(0);" class="close">Close</a>
			</div>
			<div class="wrap">
				<div id="group_properties">
					<h2>Group Properties</h2>
				</div>
				<div id="slide_properties">
					<h2>Slides <span class="note">Drag to Reorder</span></h2>
					<table>
						<colgroup>
							<col class="activity" />
							<col class="title" />
							<col class="image" />
							<col class="background" />
							<col class="alignment" />
							<col class="approval" />
							<col class="remove" />
						</colgroup>
						<thead>
							<tr>
								<th class="activity"><h3>Activity</h3></th>
								<th><h3>Title</h3></th>
								<th><h3>Image</h3></th>
								<th><h3>Background</h3></th>
								<th><h3>Alignment</h3></th>
								<th><h3>Approval</h3></th>
								<th class="remove"><h3>Remove</h3></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="activity">
									<label><input type="checkbox" /><span>Active</span></label>
								</td>
								<td class="title">
									<input type="text" />
								</td>
								<td class="image"></td>
								<td class="background"></td>
								<td class="alignment"></td>
								<td class="approval"></td>
								<td class="remove">
									<a href="javascript:void(0);">Delete Slide</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="controls">
					<a class="add" href="javascript:void(0);">Add New Slide</a>
					<a class="cancel" href="javascript:void(0);">Cancel</a>
					<a class="done" href="javascript:void(0);">Done</a>
				</div>
			</div>
		</div>
		-->

<div id="sidebar">

	{% block project_links %}
	{% if project.links.all %}
		<div class="contact-list" id="project-links">
			<h3>Project Resources</h3>
			<ul>
				{% for link in project.links.all %}
					<li class="{{ link.name }}"><a onclick="window.open(this.href);return false;" href="{{ link.link }}">{{ link.name }}</a></li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
	{% endblock %}

	{% if project.ai_contacts %}
		<div class="contact-list" id="ai-contacts">
			<h3>A<span>i</span> Contacts</h3>
			{% for contact in project.ai_contacts %}
				{% include "contact.html" %}
			{% endfor %}
		</div>
	{% endif %}
	{% if project.client_contacts %}
		<div class="contact-list" id="client-contacts">
			<h3>Client Contacts</h3>
			{% for contact in project.client_contacts %}
				{% include "contact.html" %}
			{% endfor %}
		</div>
	{% endif %}
	{% include "includes/info.html" %}
</div>

	{% endblock %}
{% endblock %}