



    {% if client.logo %}
	<!--
    <div id="projectlogo">
        <img src="{{ MEDIA_URL }}/static/{{ client.logo }}" alt="{{ project.client.name }}" title="{{ project.client.name }}" />
    </div>
	-->
    {% endif %}
	
	<div id="project_nav" class="clear">
		{% if client.has_multiple_projects %}
		<div id="otherprojects">
			<div class="header">Other Projects</div>
			<div id="widgetwrap">
				<select id="project_switcher" class="dropdown" name="site" {% if mobify %}onchange="document.location = this.value" {% endif %}>
					{% for project_option in client.projects.all %}
					<option value="/client/{{ project.client.path }}/{{ project_option.path }}/"  {% ifequal project project_option %}selected='selected'{% endifequal %}>{{ project_option.name }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		{% endif %}
	</div>
