<div id="sidebar">

	{% block project_links %}
	{% if project.links.all %}
		<div class="contact-list" id="project-links">
			<h3>Project Resources</h3>
			<ul>
				{% for link in project.links.all %}
					<li class="{{ link.name }}"><a onclick="window.open(this.href);return false;" href="{{ link.link }}">{{ link.name }}</a></li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
	{% endblock %}

	{% if project.ai_contacts %}
		<div class="contact-list" id="ai-contacts">
			<h3>A<span>i</span> Contacts</h3>
			{% for contact in project.ai_contacts %}
				{% include "contact.html" %}
			{% endfor %}
		</div>
	{% endif %}
	{% if project.client_contacts %}
		<div class="contact-list" id="client-contacts">
			<h3>Client Contacts</h3>
			{% for contact in project.client_contacts %}
				{% include "contact.html" %}
			{% endfor %}
		</div>
	{% endif %}
	{% include "includes/info.html" %}
</div>