{% extends "base.html" %}

{% block page_title %} 
	{{ project.client.name }} : {{ project.name }} : Jira Projects
{% endblock %}

{% block cufon %}
	Cufon.replace('#maincontent .content h2', { fontFamily: 'Berthold Akzidenz Grotesk BE CN' });
	Cufon.replace('#sidebar h3', { fontFamily: 'Berthold Akzidenz Grotesk BE CN' });
{% endblock %}

{% block section_css %}
	<link href="{{ MEDIA_URL }}/static/css/jira/jira_table.css" rel="stylesheet" type="text/css" />
	<link href="{{ MEDIA_URL }}/static/css/jquery.fancybox-1.2.5.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block section_js %}
	<script type="text/javascript" src="{{ MEDIA_URL }}/static/js/grid.locale-en.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}/static/js/jquery.dataTables.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}/static/js/jquery.fancybox-1.2.5.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}/static/js/dropdown.js"></script>
{% endblock %}

{% block title %}{{ client.name }} {% endblock %}
{% block description %}{{ project.name }} {% endblock %}

{% block utility %}
	{% include "includes/nav_utility.html" %}
{% endblock %}

{% block header_extra %}
	{% include "includes/header.html" %}
{% endblock %}

{% load issue_status %}
{% block main_content %}
<div id="main" class="clear">
	<div id="maincontent">
		{% if client %}
			<div class="content">
				<div class="projects">
					<div class="head">
						<h2 class="projects">{{ jira_project.name }}</h2>
						<a href="add/" class="create_issue">Create Issue</a>
					</div>
					{% if jiras %}
						<table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
							<thead>
								<tr>
									<th>Issue</th>
									<th>Summary</th>
									<th>Description</th>
									<th>Status</th>
								</tr>
							</thead>
							<tbody>
								{% for jira in jiras %}
									<tr>
										<td><div class="inline">{{ jira.key }}</div></td>
										<td><a class="inline" href="#{{ jira.id }}">{{ jira.summary }}</a></td>
										<td></td>
										<td><div class="inline">{{ jira.status|status_string }}</div></td>
								{% endfor %}
							</tbody>
							<tfoot>
								<tr>
									<th>Issue</th>
									<th>Summary</th>
									<th>Description</th>
									<th>Status</th>
								</tr>
							</tfoot>
						</table>
					{% endif %}
				</div>
			</div>
		{% endif %}
	</div>
</div>

<div id="sidebar">
	{% block project_links %}
		<div class="contact-list" id="project-links">
			<h3>Project Resources</h3>
			<ul>
				<li class="project_home"><a href="/client/{{ client_path }}/{{ project_path }}/">Project Home</a></li>
				{% if project.links.all %}
				{% for link in project.links.all %}
					<li class="{{ link.name }}"><a onclick="window.open(this.href);return false;" href="{{ link.link }}" >{{ link.name }}</a></li>
				{% endfor %}
				{% endif %}
			</ul>
		</div>
	
	{% if project.ai_contacts %}
		<div class="contact-list" id="ai-contacts">
			<h3>A<span>i</span> Contacts</h3>
			{% for contact in project.ai_contacts %}
				{% include "contact.html" %}
			{% endfor %}
		</div>
	{% endif %}
	{% if project.client_contacts %}
		<div class="contact-list" id="client-contacts">
			<h3>Client Contacts</h3>
			{% for contact in project.client_contacts %}
				{% include "contact.html" %}
			{% endfor %}
		</div>
	{% endif %}
	{% include "includes/info.html" %}
	{% endblock %}
</div>

{% if jiras %}
	{% for jira in jiras %}
		<div style="display:none" id="{{ jira.id }}">
			<div class="wrapper">
			<strong>Issue:</strong> {{ jira.key }}<br/><br/>
			<strong>Status:</strong> {{ jira.status|status_string }}<br/><br/>
			<strong>Summary:</strong> {{ jira.summary }}<br/><br/>
			<strong>Description:</strong> {{ jira.description }}<br/><br/>
			<strong>PM Status:</strong> {{ jira.customFieldValues }}<br/><br/>
			</div>
		</div>
	{% endfor %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('#example').dataTable( {
				"bPaginate": false,
				"bLengthChange": false,
				"bFilter": true,
				"bSort": true,
				"bInfo": false,
				"bAutoWidth": false,
				"aoColumns": [null, { "bSortable": false }, { "bSearchable": false,"bVisible": false }, null]
	
			 } );
		 
		 	$("a.inline").fancybox();
		} );
	</script>
{% endif %}
{% endblock %}