{% extends "base.html" %}

{% block page_title %} 
	{{ project.client.name }} : {{ project.name }} : Jira Projects
{% endblock %}

{% block cufon %}
	Cufon.replace('#maincontent .content h2', { fontFamily: 'Berthold Akzidenz Grotesk BE CN' });
	Cufon.replace('#sidebar h3', { fontFamily: 'Berthold Akzidenz Grotesk BE CN' });
{% endblock %}

{% block section_css %}
	<link href="{{ MEDIA_URL }}/static/css/jira/jira_table.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block section_js %}
		<script type="text/javascript" src="{{ MEDIA_URL }}/static/js/dropdown.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}/static/js/staging.js"></script>
{% endblock %}

{% block title %}{{ client.name }} {% endblock %}
{% block description %}{{ project.name }} {% endblock %}

{% block header_extra %}
	{% include "includes/header.html" %}
{% endblock %}
	
{% block main_content %}
<div id="main" class="clear">
	<div id="maincontent">
		{% if client %}
		<div class="content">
			<div class="projects">
				<div class="head">
					<h2 class="projects clear">Jira Projects</h2>
				</div>
				{% if jiras %}
				<ul class="projects">
					{% for jira in jiras %}
					<li><a href="/client/{{ client.path }}/{{ project.path }}/jira/{{ jira.key}}/">{{ jira.name }}</a></li>
					{% endfor %}
				</ul>
				{% endif %}
			</div>
		{% endif %}
		</div>
	</div>
</div>

<div id="sidebar">
	{% block project_links %}	
		<div class="contact-list" id="project-links">
			<h3>Project Resources</h3>
			<ul>
				<li><a href="/client/{{ client_path }}/{{ project_path }}/">Project Home</a></li>
				{% if project.links.all %}
				{% for link in project.links.all %}
					<li><a onclick="window.open(this.href);return false;" href="{{ link.link }}" >{{ link.name }}</a>
					</li>
				{% endfor %}
				{% endif %}
			</ul>
		</div>	
	{% if project.ai_contacts %}
		<div class="contact-list" id="ai-contacts">
			<h3>A<span>i</span> Contacts</h3>
			{% for contact in project.ai_contacts %}
				{% include "contact.html" %}
			{% endfor %}
		</div>
	{% endif %}
	{% if project.client_contacts %}
		<div class="contact-list" id="client-contacts">
			<h3><img src="{{ MEDIA_URL }}/static/images/title_client-contacts.gif" alt="Client Contacts" /></h3>
			{% for contact in project.client_contacts %}
				{% include "contact.html" %}
			{% endfor %}
		</div>
	{% endif %}
	{% include "includes/info.html" %}
	{% endblock %}
</div>

<!--
Create a User / Client:
<form action="" method="post">
<input type="text" name="username">
<input type="password" name="password">
<input type="submit" value="Create User / Client"
</form>
-->
{% endblock %}