{% extends "base.html" %}

{% block page_title %} 
	Clients : Projects
{% endblock %}

{% block section_js %}
		<script type="text/javascript" src="{{ MEDIA_URL }}/static/js/landing.js"></script>
{% endblock %}

{% block section_css %}
		<link href="{{ MEDIA_URL }}/static/css/landing.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block main_content %}

<div id="main" class="clear">
	<div id="maincontent">
		<h1>Page not found</h1>
		<div class="content">
			<p>The page you are looking for might have been removed, had its name changed, or isn't available at the moment.</p>
		</div>
	</div>
</div>

<div id="sidebar">
	<a id="logout" href="/logout/">Log Out</a>
	<a href="/home/"><img src="{{ MEDIA_URL }}/static/images/logo_ai.gif" alt="Alexander Interactive Staging Site"  title="Alexander Interactive Staging Site" class="ai-logo" width="42" /></a>
	{% include "includes/info.html" %}
</div>

{% endblock %}