{% extends "base.html" %}

{% block page_title %} 
	{{ project.client.name }} : {{ project.name }}
{% endblock %}


{% block section_js %}
		<script type="text/javascript" src="{{ MEDIA_URL }}/static/js/dropdown.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}/static/js/staging.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}/static/js/jquery.tabs.pack.js"></script>
	{% if user.is_staff %}
		<script type="text/javascript" src="{{ MEDIA_URL }}/static/js/admin_overlay.js"></script>
	{% endif %}
{% endblock %}

{% block main_content %}
<div id="main">
	<div id="content-l">
		{% include "includes/header.html" %}
		<div id="maincontent">
			{% if project.categories %}
				<ul class="cat-buttons clear">
					{% for category in project.categories.all %}
						{% if category.active %}
						<li><a id="#{{ category.name|slugify }}_tab"
							   class="tab"
							   href="#{{ category.name|slugify }}_category"
							   title="{{ category.name }}">{{ category.name }}
							</a>
						</li>
						{% else %}
							{% if user.is_staff %}
								<li><a id="#{{ category.name|slugify }}_tab"
								   class="tab inactive"
								   href="#{{ category.name|slugify }}_category"
								   title="{{ category.name }}">{{ category.name }}
								</a>
							</li>
							{% endif %}
						{% endif %}
					{% endfor %}
				</ul>

					{% for rollup in project.category_rollups %}
						{% if rollup.sections %}
						<div id="{{ rollup.category.name|slugify }}_category" class="catblock">
							{% for section in rollup.sections %}
							<div class="contentblock section">

								<div class="leed clear">
									<h2>{{ section.name }}</h2>
									{% if section.date %}
									<div class="date">
										{{ section.date|date:"m/d/Y" }}
									</div>
									{% endif %}
								</div>

								{% if section.description %}
								<p class="pm-notes">{{ section.description }}</p>
								{% endif %}

								{% if section.links.all %}
									<ul class="links">
										{% for link in section.links.all %}
										<li {% if link.file_link %} class="{{link.link|slice:"-3:"}}" {% endif %}>
											<a href="{{ link.link }}" title="{{ link.name }}">
												{{ link.name }}
											</a>
										</li>
										{% endfor %}
									</ul>
								{% endif %}

								{% if section.comps.all %}
									<ul class="links">
										{% for comp in section.comps.all %}
											{% include 'includes/comps.html' %}
										{% endfor %}
									</ul>
								{% endif %}

								{% if section.subsections %}
									{% for subsection in section.subsections.all %}
										<p class="pm-subcat">{{ subsection.name }}</p>
										{% if subsection.description %}<p>{{ subsection.description }}</p>{% endif %}
										{% if subsection.links.all %}
											<ul class="links">
												{% for link in subsection.links.all %}
												<li {% if link.file_link %} class="{{link.link|slice:"-3:"}}" {% endif %}>
													<a href="{{ link.link }}" title="{{ link.name }}">
														{{ link.name }}
													</a>
												</li>
												{% endfor %}
											</ul>
										{% endif %}
										{% if subsection.comps.all %}
											<ul class="links">
												{% for comp in subsection.comps.all %}
													{% include 'includes/comps.html' %}
												{% endfor %}
											</ul>
										{% endif %}
									{% endfor %}
								{% endif %}
							</div>
							{% endfor %}
						</div>
					{% else %}
						<div id="{{ rollup.category.name|slugify }}_category" class="catblock">
							<div class="contentblock">
								<p class="nodata">Nothing has been posted to {{ rollup.category.name }} yet.</p>
							</div>
						</div>
					{% endif %}
				{% endfor %}
			{% else %}
				<p>No categories have been associated with this project yet.</p>
			{% endif %}
		</div>
		
		
		<!-- Stager 2.0 section 
		<div class="admin" id="edit_slide">
			<div class="header">
				<a href="javascript:void(0);" class="close">Close</a>
			</div>
			<div class="wrap">
				<div id="group_properties">
					<h2>Group Properties</h2>
				</div>
				<div id="slide_properties">
					<h2>Slides <span class="note">Drag to Reorder</span></h2>
					<table>
						<colgroup>
							<col class="activity" />
							<col class="title" />
							<col class="image" />
							<col class="background" />
							<col class="alignment" />
							<col class="approval" />
							<col class="remove" />
						</colgroup>
						<thead>
							<tr>
								<th class="activity"><h3>Activity</h3></th>
								<th><h3>Title</h3></th>
								<th><h3>Image</h3></th>
								<th><h3>Background</h3></th>
								<th><h3>Alignment</h3></th>
								<th><h3>Approval</h3></th>
								<th class="remove"><h3>Remove</h3></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="activity">
									<label><input type="checkbox" /><span>Active</span></label>
								</td>
								<td class="title">
									<input type="text" />
								</td>
								<td class="image"></td>
								<td class="background"></td>
								<td class="alignment"></td>
								<td class="approval"></td>
								<td class="remove">
									<a href="javascript:void(0);">Delete Slide</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="controls">
					<a class="add" href="javascript:void(0);">Add New Slide</a>
					<a class="cancel" href="javascript:void(0);">Cancel</a>
					<a class="done" href="javascript:void(0);">Done</a>
				</div>
			</div>
		</div>
		-->
	</div>
</div>

<div id="sidebar">
		<span id="logout"><span>Welcome </span><a href="/admin/" target="_new">{{user.username}}</a>  <span>|</span> <a href="/logout/">Log Out</a></span>
	<a href="/home/"><img src="{{ MEDIA_URL }}/static/images/logo_ai.gif"
						  alt="Alexander Interactive Staging Site"
						  title="Alexander Interactive Staging Site" class="ai-logo" width="42" /></a>
	{% if project.links.all %}
		<div class="contact-list" id="project-links">
			<h3><img src="{{ MEDIA_URL }}/static/images/title_project-resources.gif" alt="Project Resources" /></h3>
			<ul>
				{% for link in project.links.all %}
					<li><a onclick="window.open(this.href);return false;" href="{{ link.link }}" >{{ link.name }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}

	{% if project.ai_contacts %}
		<div class="contact-list" id="ai-contacts">
			<h3><img src="{{ MEDIA_URL }}/static/images/title_ai-contacts.gif" alt="AI Contacts" /></h3>
			{% for contact in project.ai_contacts %}
				{% include "contact.html" %}
			{% endfor %}
		</div>
	{% endif %}
	{% if project.client_contacts %}
		<div class="contact-list" id="client-contacts">
			<h3><img src="{{ MEDIA_URL }}/static/images/title_client-contacts.gif" alt="Client Contacts" /></h3>
			{% for contact in project.client_contacts %}
				{% include "contact.html" %}
			{% endfor %}
		</div>
	{% endif %}
	{% include "includes/info.html" %}
</div>
{% endblock %}